nam/nam-engine/src/test/resources/LoanApproval/LoanApproval.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<wsdl:definitions 
	targetNamespace="http://example.com/loan-approval/wsdl"
	xmlns:tns="http://example.com/loan-approval/wsdl"
	xmlns:ens="http://example.com/loan-approval/xsd/error-messages/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

	<wsdl:types>
		<xsd:schema targetNamespace="http://example.com/loan-approval/xsd/error-messages/">
			<xsd:element name="integer" type="xsd:integer" />

			<!--  
			<complexType name="InsufficientFundFaultType">
				<sequence>
					<element name="balance" type="xsd:int" />
					<element name="requestedFund" type="xsd:int" />
				</sequence>
			</complexType>
		
			<complexType name="AccountInsufficientFundFaultType">
				<complexContent>
					<extension base="tns:InsufficientFundFaultType">
						<sequence>
							<element name="account" type="xsd:string" />
						</sequence>
					</extension>
				</complexContent>
			</complexType>
		
			<element name="InsufficientFundFault" type="tns:InsufficientFundFaultType" />
			-->

		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="creditInformationMessage">
		<wsdl:part name="firstName" type="xsd:string" />
		<wsdl:part name="name" type="xsd:string" />
		<wsdl:part name="amount" type="xsd:integer" />
	</wsdl:message>

	<wsdl:message name="approvalMessage">
		<wsdl:part name="accept" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="riskAssessmentMessage">
		<wsdl:part name="level" type="xsd:string" />
	</wsdl:message>

	<wsdl:message name="errorMessage">
		<wsdl:part name="errorCode" element="xsd:string" />
	</wsdl:message>

	<!--  
	<message name="AccountInsufficientFundFaultMessage">
		<part element="tns:AccountInsufficientFundFault" name="fault"/>
	</message>
	-->
    
	<!--  
	<wsdl:message name="faultMsg">
		<wsdl:part name="fault" element="tns:fault"/>
	</wsdl:message>
	-->

	<wsdl:portType name="loanServicePT">
		<wsdl:operation name="request">
			<wsdl:input message="tns:creditInformationMessage" />
			<wsdl:output message="tns:approvalMessage" />
			<wsdl:fault name="unableToHandleRequest" message="tns:errorMessage" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="riskAssessmentPT">
		<wsdl:operation name="check">
			<wsdl:input message="tns:creditInformationMessage" />
			<wsdl:output message="tns:riskAssessmentMessage" />
			<wsdl:fault name="loanProcessFault" message="tns:errorMessage" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:portType name="loanApprovalPT">
		<wsdl:operation name="approve">
			<wsdl:input message="tns:creditInformationMessage" />
			<wsdl:output message="tns:approvalMessage" />
			<wsdl:fault name="loanProcessFault" message="tns:errorMessage" />
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="loanService_Binding" type="tns:loanServicePT">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="request">
			<soap:operation soapAction="http://example.com/loan-approval/wsdl/request" />
			<wsdl:input>
				<soap:body use="literal" namespace="http://example.com/loan-approval/wsdl" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="http://example.com/loan-approval/wsdl" />
			</wsdl:output>
			<wsdl:fault name="unableToHandleRequest">
				<soap:fault use="literal" name="unableToHandleRequest" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="loanApprover_Binding" type="tns:loanApprovalPT">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
			
		<wsdl:operation name="approve">
			<soap:operation soapAction="http://example.com/loan-approval/wsdl/approve" />
			<wsdl:input>
				<soap:body use="literal" namespace="http://example.com/loan-approval/wsdl" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="http://example.com/loan-approval/wsdl" />
			</wsdl:output>
			<wsdl:fault name="loanProcessFault">
				<soap:fault use="literal" name="loanProcessFault" />
			</wsdl:fault>
		</wsdl:operation>

		<!--  
		<wsdl:operation name="withdraw">
			<wsdl:input message="tns:withdrawRequest" name="withdrawRequest" />
			<wsdl:output message="tns:withdrawResponse" name="withdrawResponse" />
			<wsdl:fault message="tns:InsufficientFundFaultMessage" name="InsufficientFundFault" />
		</wsdl:operation>
		-->
	</wsdl:binding>

	<wsdl:binding name="riskAssessor_Binding" type="tns:riskAssessmentPT">
		<soap:binding style="rpc"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="check">
			<soap:operation soapAction="http://example.com/loan-approval/wsdl/check" />
			<wsdl:input>
				<soap:body use="literal" namespace="http://example.com/loan-approval/wsdl" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" namespace="http://example.com/loan-approval/wsdl" />
			</wsdl:output>
			<wsdl:fault name="loanProcessFault">
				<soap:fault use="literal" name="loanProcessFault" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="loanService">
		<wsdl:port name="loanService_Port" binding="tns:loanService_Binding">
			<soap:address location="http://localhost:8080/Quickstart_bpel_loan_approvalWS" />
		</wsdl:port>
	</wsdl:service>

	<wsdl:service name="loanApprover">
		<wsdl:port name="loanApprover_Port" binding="tns:loanApprover_Binding">
			<soap:address location="http://localhost:8080/Quickstart_bpel_loan_approval/LoanApproval" />
		</wsdl:port>
	</wsdl:service>

	<wsdl:service name="riskAssessor">
		<wsdl:port name="riskAssessor_Port" binding="tns:riskAssessor_Binding">
			<soap:address location="http://127.0.0.1:8080/Quickstart_bpel_loan_approval/RiskAssessment" />
		</wsdl:port>
	</wsdl:service>

	<plnk:partnerLinkType name="loanPartnerLT">
		<plnk:role name="loanService" portType="tns:loanServicePT" />
	</plnk:partnerLinkType>

	<plnk:partnerLinkType name="loanApprovalLT">
		<plnk:role name="approver" portType="tns:loanApprovalPT" />
	</plnk:partnerLinkType>

	<plnk:partnerLinkType name="riskAssessmentLT">
		<plnk:role name="assessor" portType="tns:riskAssessmentPT" />
	</plnk:partnerLinkType>
</wsdl:definitions>
