nam/nam-model/src/main/resources/schema-bak/nam-unified-execution-1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xs:schema 
	version="1.0"
	elementFormDefault="qualified" 
	attributeFormDefault="unqualified" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:common="http://www.aries.org/common"
	xmlns:nam="http://nam/model" 
	targetNamespace="http://nam/model">

	<xs:import namespace="http://www.aries.org/common" schemaLocation="aries-common-1.0.xsd" />
	<xs:include schemaLocation="nam-common-1.0.xsd" />
	<xs:include schemaLocation="nam-security-1.0.xsd" />
	<xs:include schemaLocation="nam-operation-1.0.xsd" />
	<xs:include schemaLocation="nam-information-1.0.xsd" />
	
	<!--
		Execution type
	-->

	<xs:element name="executions">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="0" ref="nam:execution"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<xs:element name="execution" type="nam:Execution"/>
	<xs:complexType name="Execution">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="nam:input"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="nam:output"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="nam:action"/>
			<xs:element minOccurs="0" maxOccurs="1" ref="nam:process"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute default="serial" name="pattern" type="xs:string"/>
		<xs:attribute default="false" name="validate" type="xs:boolean"/>
		<xs:attribute default="false" name="asynchronous" type="xs:boolean"/>
	</xs:complexType>


	<!--
		Input type
	-->

	<xs:element name="input" type="nam:Input"/>
	<xs:complexType name="Input">
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="type" type="xs:string"/>
	</xs:complexType>


	<!--
		Output type
	-->

	<xs:element name="output" type="nam:Output"/>
	<xs:complexType name="Output">
		<xs:attribute name="type" type="xs:string" use="required"/>
		<xs:attribute name="name" type="xs:string"/>
	</xs:complexType>
	
	
	<!--
		Action type
	-->

	<xs:element name="action" type="nam:Action"/>
	<xs:complexType name="Action">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="input" type="nam:Input"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="output" type="nam:Output"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="property" type="common:Property"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="processor" type="nam:Processor"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="activity" type="nam:Activity"/>
			<xs:element maxOccurs="1" minOccurs="0" name="sequence" type="xs:anyType"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="class" type="xs:string"/>
		<xs:attribute name="process" type="xs:string"/>
	</xs:complexType>


	<!--
		Processor type
	-->

	<xs:element name="processor" type="nam:Processor"/>
	<xs:complexType name="Processor">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="1" name="action" type="nam:Action"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string" use="required"/>
		<xs:attribute name="class" type="xs:string" use="required"/>
		<xs:attribute name="method" type="xs:string" use="required"/>
	</xs:complexType>


	<xs:element name="transform">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="1" ref="nam:element"/>
			</xs:sequence>
			<xs:attribute name="target" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

	
	<!--
		Process type
	-->
	
	<xs:element name="processes" type="nam:Processes"/>
	<xs:complexType name="Processes">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" ref="nam:process"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:element name="process" type="nam:Process"/>
	<xs:complexType name="Process">
		<xs:annotation>
			<xs:documentation xml:lang="en">The specification/identification of a Process 
			that may or may not be a BPEL Process described in an external BPEL process file.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" name="namespace" type="xs:string"/>
			<xs:element minOccurs="0" maxOccurs="1" ref="nam:transacted"/>
			<xs:element minOccurs="0" maxOccurs="1" ref="nam:cache"/>
			<xs:element minOccurs="0" maxOccurs="1" name="state" type="nam:ProcessState"/>
			<xs:element minOccurs="0" maxOccurs="1" name="object" type="xs:anyType"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="operations" type="nam:Operation"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="cacheUnits" type="nam:Cache"/>
		</xs:sequence>
		<xs:attribute name="name" type="xs:string"/>
		<xs:attribute name="ref" type="xs:string"/>
	</xs:complexType>
	
	<xs:element name="processState" type="nam:ProcessState"/>
	<xs:complexType name="ProcessState">
		<xs:sequence>
			<xs:element minOccurs="0" maxOccurs="1" ref="nam:security"/>
			<xs:element minOccurs="0" maxOccurs="unbounded" name="variables" type="nam:ProcessVariable"/>
		</xs:sequence>
		<xs:attribute default="false" name="distributed" type="xs:boolean"/>
	</xs:complexType>

	<xs:element name="processVariable" type="nam:ProcessVariable"/>
	<xs:complexType name="ProcessVariable">
		<xs:sequence>
			<xs:element minOccurs="1" maxOccurs="1" name="type" type="xs:string"/>
			<xs:element minOccurs="1" maxOccurs="1" name="name" type="xs:string"/>
			<xs:element minOccurs="0" maxOccurs="1" name="value" type="xs:anyType"/>
			<xs:element minOccurs="0" maxOccurs="1" name="isMessage" type="xs:boolean"/>
		</xs:sequence>
		<xs:attribute default="false" name="dirty" type="xs:boolean"/>
	</xs:complexType>

	<xs:element name="activity" type="nam:Activity"/>
	<xs:complexType name="Activity">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="id" type="xs:long"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="targets" type="nam:Targets"/>
	<xs:complexType name="Targets">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" ref="nam:join-condition"/>
			<xs:element maxOccurs="unbounded" minOccurs="1" ref="nam:target"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="target" type="nam:Target"/>
	<xs:complexType name="Target">
		<xs:attribute name="linkName" type="xs:NCName" use="required"/>
	</xs:complexType>

	<xs:element name="sources" type="nam:Sources"/>
	<xs:complexType name="Sources">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="1" ref="nam:source"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="source" type="nam:Source"/>
	<xs:complexType name="Source">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" ref="nam:transition-condition"/>
		</xs:sequence>
		<xs:attribute name="linkName" type="xs:NCName" use="required"/>
	</xs:complexType>

	<xs:complexType mixed="true" name="Expression">
		<xs:sequence>
			<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
		</xs:sequence>
		<!--  
		<xs:attribute name="expressionLanguage" type="xs:anyURI" />
		-->
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>

	<xs:element name="join-condition" type="nam:Condition"/>

	<xs:element name="transition-condition" type="nam:Condition"/>
	
	<xs:complexType name="Condition">
		<xs:complexContent mixed="true">
			<xs:extension base="nam:Expression"/>
		</xs:complexContent>
	</xs:complexType>

	<!--  
	<xs:element name="condition" type="tBoolean-expr" />
	<xs:complexType name="tBoolean-expr">
		<xs:complexContent mixed="true">
			<xs:extension base="tExpression" />
		</xs:complexContent>
	</xs:complexType>
	-->	

	<xs:element name="assign" type="nam:Assign"/>
	<xs:complexType name="Assign">
		<xs:complexContent>
			<xs:extension base="nam:Activity">
				<xs:sequence>
					<xs:choice maxOccurs="unbounded">
						<xs:element maxOccurs="1" minOccurs="1" ref="nam:copy"/>
						<!--  
						<xs:element ref="extensionAssignOperation" minOccurs="1" maxOccurs="1" />
						-->
					</xs:choice>
				</xs:sequence>
				<xs:attribute default="false" name="validate" type="xs:boolean" use="optional"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:element name="copy" type="nam:Copy"/>
	<xs:complexType name="Copy">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" ref="nam:from"/>
			<xs:element maxOccurs="1" minOccurs="1" ref="nam:to"/>
		</xs:sequence>
		<xs:attribute default="false" name="keepSrcElementName" type="xs:boolean" use="optional"/>
		<xs:attribute default="false" name="ignoreMissingFromData" type="xs:boolean" use="optional"/>
	</xs:complexType>

	<xs:element name="from" type="nam:From"/>
	<xs:complexType mixed="true" name="From">
		<xs:sequence>
			<!--  
			<xs:element ref="documentation" minOccurs="0" maxOccurs="unbounded" />
			-->
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
			<xs:choice minOccurs="0">
				<xs:element maxOccurs="1" minOccurs="1" ref="nam:literal2"/>
				<xs:element maxOccurs="1" minOccurs="1" ref="nam:query2"/>
			</xs:choice>
		</xs:sequence>
		<!--  
		<xs:attribute name="expressionLanguage" type="xs:anyURI" />
		<xs:attribute name="variable" type="BPELVariableName" />
		<xs:attribute name="part" type="xs:NCName" />
		<xs:attribute name="property" type="xs:QName" />
		<xs:attribute name="partnerLink" type="xs:NCName" />
		<xs:attribute name="endpointReference" type="tRoles" />
		<xs:anyAttribute namespace="##other" processContents="lax" />
		-->
	</xs:complexType>

	<xs:element name="to" type="nam:To"/>
	<xs:complexType mixed="true" name="To">
		<xs:sequence>
			<!--  
			<xs:element ref="documentation" minOccurs="0" maxOccurs="unbounded" />
			-->
			<xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
			<xs:element maxOccurs="1" minOccurs="0" ref="nam:query2"/>
		</xs:sequence>
		<!--
		<xs:attribute name="expressionLanguage" type="xs:anyURI" />
		<xs:attribute name="variable" type="BPELVariableName" />
		<xs:attribute name="part" type="xs:NCName" />
		<xs:attribute name="property" type="xs:QName" />
		<xs:attribute name="partnerLink" type="xs:NCName" />
		<xs:anyAttribute namespace="##other" processContents="lax" />
		-->
	</xs:complexType>

	<xs:element name="literal2" type="nam:Literal2"/>
	<xs:complexType mixed="true" name="Literal2">
		<xs:sequence>
			<xs:any maxOccurs="1" minOccurs="0" namespace="##any" processContents="lax"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="query2" type="nam:Query2"/>
	<xs:complexType mixed="true" name="Query2">
		<xs:sequence>
			<xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
		</xs:sequence>
		<xs:anyAttribute namespace="##other" processContents="lax"/>
	</xs:complexType>


	<xs:element name="test">
		<xs:complexType>
			<xs:attribute name="condition" type="xs:string" use="required"/>
			<xs:attribute name="action" type="xs:string" use="required"/>
			<xs:attribute name="else" type="xs:string"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="receive">
		<xs:complexType>
			<xs:attribute name="target" type="xs:string" use="required"/>
			<xs:attribute name="source" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="send">
		<xs:complexType>
			<xs:attribute name="target" type="xs:string" use="required"/>
			<xs:attribute name="source" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="invoke">
		<xs:complexType>
			<xs:attribute name="target" type="xs:string" use="required"/>
			<xs:attribute name="source" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="catch" type="nam:Catch"/>
	<xs:complexType name="Catch">
		<xs:annotation>
			<xs:documentation>The "catch" element may contain one or more activities.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="activity" type="nam:Activity"/>
		</xs:sequence>
		<xs:attribute name="faultName" type="xs:QName"/>
		<xs:attribute name="faultElement" type="xs:QName"/>
		<!--  
		<xs:attribute name="faultVariable" type="BPELVariableName" />
		<xs:attribute name="faultMessageType" type="xs:QName" />
		-->
	</xs:complexType>

	<xs:element name="throw" type="nam:Throw" />
	<xs:complexType name="Throw">
		<xs:attribute name="target" type="xs:string" use="required"/>
		<xs:attribute name="source" type="xs:string" use="required"/>
	</xs:complexType>


	<!--  
    <xs:element name="command" type="command" block="substitution" />
	<xs:complexType name="command">
		<xs:attribute name="type" type="xs:string" use="required" />
		<xs:attribute name="name" type="xs:string" />
	</xs:complexType>

	<xs:element name="command" type="command" />
	<xs:complexType name="command" >
		<xs:all>
			<xs:element name="catch" type="catch" minOccurs="0" />
			<xs:element name="assign" type="assign" minOccurs="0" />
		</xs:all>
	</xs:complexType>
	-->

	<!--  
	<xs:group name="command">
		<xs:choice>
			<xs:element ref="catch" />
			<xs:element ref="assign" />
			<xs:element ref="test" />
			<xs:element ref="send" />
			<xs:element ref="receive" />
			<xs:element ref="invoke" />
			<xs:element ref="throw" />
		</xs:choice>
	</xs:group>
	-->

</xs:schema>

